{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h4>Home</h4>
                </div>
                <div class="card-body">
                    <p>Welcome to the home page!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}