{% extends 'base.html' %}


{% block head %}
    <title> Update Task</title>
{% endblock%}



{% block body %}
    <br><h1>Update task '{{ task.content }}' </h1><br><br>
    <div class="content">
        <!-- for flash msg -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} {% if message %}show{% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
<!-- ========================================== -->
        <form method="post" action="/update/{{task.id}}" class="mb-4">
            <!-- <div class="input-group">
                <input type="text" name="content" id="content" value="{{task.content}}" class="form-control form-control-lg" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Task</button> -->

            <div class="input-group mb-3">
                <input type="text" name="content" id="content" value="{{task.content}}" class="form-control form-control-lg" required aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" id="button-addon2">Button</button>
              </div>
              
        </form>

          

      
    </div>
{% endblock%}
